# FIREBASE PUBLIC
NEXT_PUBLIC_FIREBASE_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN
NEXT_PUBLIC_FIREBASE_PROJECT_ID
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID
NEXT_PUBLIC_FIREBASE_APP_ID

# FIREBASE ADMIN
FIREBASE_ADMIN_TYPE
FIREBASE_ADMIN_CLIENT_ID
FIREBASE_ADMIN_AUTH_URI
FIREBASE_ADMIN_TOKEN_URI
FIREBASE_ADMIN_UNIVERSE_DOMAIN
FIREBASE_ADMIN_PROJECT_ID
FIREBASE_ADMIN_PRIVATE_KEY_ID
FIREBASE_ADMIN_AUTH_PROVIDER_X509_CERT_URL
FIREBASE_ADMIN_CLIENT_X509_CERT_URL
FIREBASE_ADMIN_CLIENT_EMAIL
FIREBASE_ADMIN_PRIVATE_KEY