@use "@/styles/_variables.scss" as *;

@mixin button-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  background-color: #232323;
}

@mixin link-button-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.4rem 1.3rem;
  background-color: #363535;
}

@mixin button-link {
  background-color: $orange-0;
  color: $black-1;
  border-radius: $border-l;
  padding: 0.2rem 1.3rem;
  font-weight: 500;
}

@mixin main-background-style {
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  background-color: rgba(35, 35, 35, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: $white-0;
} 

@mixin background-image {
  background-image: url('../../public/background.png');
  background-size: 100%;
  background-repeat: no-repeat;

}