@use '@/styles/_variables.scss' as *;

@mixin background-image {
  background-image: url('../../public/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

@mixin main-style {
  border-radius: 10px;
  border-radius: $border-m;
  border: 0.5px solid $lines-color;
  @include background-components;
}

@mixin background-components {
  position: relative;
  overflow: hidden;
  z-index: 1 !important;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #1c1c1c70;
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 5px solid #222224;
    z-index: -2 !important;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10101066;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1 !important;
  }
}
