/** @format */

@use '@/styles/_variables.scss' as *;

@mixin background-image {
  background-image: url('../../public/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

@mixin button-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  background-color: #232323;
}

@mixin link-button-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.4rem 1.3rem;
  background-color: #363535;
}

@mixin button-link {
  background-color: $orange-0;
  color: $black-1;
  border-radius: $border-l;
  padding: 0.2rem 1.3rem;
  font-weight: 500;
}

@mixin main-style {
  border-radius: 10px;
  // padding: 0.5rem 0.8rem;
  // background-color: rgba(35, 35, 35, 0.5);
  // color: $white-0;

  box-shadow: 0px 0px 4px 1px $blue-1;
  // background-color: #121417c1;
  background-color: #19191ac1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: $border-m;
  border: 0.5px solid $lines-color;
}


