div#login {

  border-radius: $border-m;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $pad-m;
  h3 {
    font-size: 1.5rem;
    height: $height-text-wellcome;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    width: 100%;
    padding: $pad-m;
  }
}
form#login-form {
  display: flex;
  flex-direction: column;
  padding: $pad-m;
  width: 300px;
  max-width: 500px;
  height: max-content;
  border-radius: $border-m;
  gap: $gap-m;
  background-color: $blue-1;
  input {
    padding: $pad-s;
    border-radius: $border-s;
  }
  button {
    background-color: rgb(136, 135, 135);
  }
}
p.register {
  display: flex;
  justify-content: center;
  padding: $pad-s;
}
.errors {
  background-color: $red-0;
  border-radius: $border-s;
  padding: 0px 10px;
  height: max-content;
  color: $white-0;
}
p.errors {
  animation: error-fade-p 0.5s ease-out;
}
div.errors {
  animation: error-fade-div 0.5s ease-in-out;
}
#join-link {
  text-decoration: underline;
}

@keyframes error-fade-p {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 23px;
  }
}

@keyframes error-fade-div {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 40px;
  }
}
