article.post {
  background-color: $blue-1;
  border-radius: $border-m;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0.5px solid $white-3;
  .icons {
    color: $orange-0;
    width: 22px;
    height: 22px;
    // background-color: red;
  }
  * {
    // border: 1px solid rgb(243, 241, 241);
  }
}

div.post#top {
  display: flex;
  gap: $gap-s;
  align-items: center;
  // background-color: red;
  #post-type {
    border: 1px solid $white-2;
    padding: 5px 15px;
    border-radius: $border-s;
  }
}

header.post {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  img.avatar {
    width: 60px;
    height: 60px;
  }
  div#urls-container {
    a#url-profile {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 5px;
      margin-bottom: 5px;
    }
  }
  #save {
    margin-left: auto;
  }
  span {
    color: $white-2;
  }
}

section.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer.post {
  display: flex;
  justify-content: space-around;
  // background-color: red;
  button {
    display: flex;
    gap: 8px;
    font-size: 0.9rem;
    align-items: center;
  }
  
}



#avatar {
  background-color: #bbc9e5;
  border-radius: 50%;
  z-index: 2;
}
