/** @format */

article.post {
  background-color: $blue-1;
  border-radius: $border-m;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0.5px solid $white-3;
  .icons {
    color: $orange-0;
    width: 22px;
    height: 22px;
  }
}

header.post {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  div#urls-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      color: $white-2;
      font-size: 0.8rem;
      line-height: 1.2;
    }
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #save {
    margin-left: auto;
  }
}

section.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer.post {
  display: flex;
  justify-content: space-around;
  // background-color: red;
  button {
    display: flex;
    gap: 8px;
    font-size: 0.9rem;
    align-items: center;
  }
}
