aside#news {
  height: 75vh;
  header#header-news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    svg.icons, h2 {
      color: $orange-0;
    }
    svg.icons {
      width: 25px;
      height: 25px;
    }
  }

}
