// :root {
//   transition: all 0.5s ease-in-out;
// }
div#wellcome-body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80dvh;
  padding-inline: 7%;
}
header.wellcome {
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  h1 {
    font-size:calc(2rem + 2vw);
    text-shadow: 2px 2px 8px #707070;
    line-height: 1;
    height: $height-text-wellcome;
    text-wrap: nowrap;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  svg.icons {
    width: 55px;
    height: 90px;
    color: $white-0;
  }
}
section.wellcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  min-width: max-content;
  width: 100%;
  max-width: 35vw;
  height: 100%;
}
