div.unprotected#signup-page {
  gap: 2rem;
  padding-top: 8rem;
  *{ 
    // border: 1px solid red;
  }
}
section#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;

}
section#skool-question {
  div#skool-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
}

form#skool-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}