/** @format */


header.wellcome {
  flex-direction: column;
  gap: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  h1 {
    font-size: calc(2rem + 2vw);
    text-shadow: 2px 2px 8px #707070;
    line-height: 1;
    height: $height-text-wellcome;
    text-wrap: nowrap;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  svg.icons {
    width: 55px;
    height: 90px;
    color: $white-0;
  }
}

