div.protected {
  display: grid;
  grid-template-areas:
    'nav main right'
    'nav main right';
  grid-template-columns: $left-aside 1fr $right-aside;
  grid-template-rows: auto auto 1000px;
  gap: $gap-l;
  justify-content: center;
  max-width: $width;
  width: 100%;
  margin-block: calc($height-navbar + $gap-l) 150px;
  margin-inline: auto;
}

nav#nav {
  * {
    // border: 0.5px solid rgb(242, 120, 120);
  }
  h1 {
    font-size: 28px;
    text-wrap: nowrap;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding: 1rem 0 2rem;
  gap: 0.7rem;
  top: 0;
  // width: 300px;
  height: 100dvh;
  z-index: 999;
  border-right: 0.5px solid $lines-color;
  hr {
    width: 100%;
    border: 0.5px solid $lines-color;
  }
}
