main#home-page {
  display: grid;
  grid-template-areas: 'timeline news';
  grid-template-columns: 750px 1fr;

}

div#timeline {
  grid-area: timeline;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-right: 1px solid $lines-color;
  padding: 30px;
}

div#news {
  grid-area: news;
  padding: 20px;
  
}
