:root {
  --height-start: 65px;
  --height-end: 300px;
}
div#new-post {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  padding: 10px;
  border-radius: var(--border-m);
  button#open {
    background-color: var(--black-1);
    border-radius: var(--border-s);
    opacity: 1;
    color: var(--white-2);
    h2 {
      padding: 0.6rem 0.7rem;
    }
  }
  
}

#new-post-accordion {
  padding:0 !important ;
  margin:0 !important ;
  /* border: 1px solid white !important; */
  /* *{
    padding:0 !important ;
    margin:0 !important ;
  } */
}
#new-post-accordion-header {
  /* padding:0 !important ;
  margin:0 !important ; */
}
#new-post-accordion-content {
  padding: 0 !important;
  margin: 0 !important;
}
.list-container {
 
}

form {
  display: grid;
  gap: 10px;
  border-radius: var(--border-m);
  grid-template-areas:
    'title title title'
    'description description description'
    'options selects selects'
    'empty empty send';
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  input {
    padding: 1rem 1rem;
    border-radius: var(--border-s);
  }
  input#title {
    grid-area: title;
  }
  textarea#description {
    border-radius: var(--border-s);
    grid-area: description;
    text-wrap: wrap;
    resize: none;
    padding: 1rem 1rem;
  }
  div#options {
    grid-area: options;
    display: flex;
    svg.icon {
      width: 25px;
      height: 25px;
    }
    svg#gif {
      width: 30px;
      height: 30px;
    }
  }
  div#selects {
    grid-area: selects;
    display: flex;
    gap: var(--gap-m);
    .selects#category {
      width: 70%;
    }
    .selects#label {
      width: 100%;
    }
  }
  button#send {
    grid-area: send;
    background-color: var(--black-1);
  }
}
