article.post {
  background-color: var(--blue-1);
  border-radius: var(--border-m);
  padding: 19px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  div#nav {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    #post-type {
      border: 1px solid var(--white-2);
      padding: 5px 15px;
      border-radius: var(--border-s);
    }
  }

  header {
    display: flex;
    align-items: center;
    gap: 15px;
    img.avatar {
      width: 60px;
      height: 60px;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    button {
      display: flex;
      gap: 8px;
      font-size: 0.9rem;
      align-items: center;
    }
    .post-icons {
      color: var(--orange-0);
      width: 25px;
      height: 25px;
    }
  }
}

section#timeline {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}




#avatar {
  background-color: #bbc9e5;
  border-radius: 50%;
  z-index: 2;
}
