#aside-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  height: 85vh;
  position: relative;
}
header#profile {
  height: max-content;
  border-radius: var(--border-m);
  background-color: var(--color-blue-1);
  align-items: center;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  #profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    gap: var(--gap-s);
    padding-top: 35px;
    #cover {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 70px;
      background-color: var(--color-orange-0);
    }
  }
  #profile-link:hover {
    text-decoration: underline;
    background-color: #26262651;
  }
  hr {
    width: 100%;
  }
  #profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-s);
    height: 70px;
    width: 100%;
    /* border: 1px solid ; */
  }
  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #909ca9;
  }
  #goals-button {
    display: flex;
    padding: 8px ;
    background-color: var(--color-orange-0);
    width: 100%;
    gap: var(--gap-m);
    align-items: center;
    color: var(--color-blue-1);
    h2 {
      font-weight: 700;
      text-align: center;
      width: 100%;
      font-size: 1.3rem !important;
    }
  }
}
section#profile-links {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  .icon {
    width: 30px;
    background-color: #909ca9;
    height: 30px;
    border-radius: 50%;
  }
  .aside-button {
    gap: var(--gap-m);
    padding: 10px 16px;
    align-items: center;
    display: flex;
    border-radius: var(--border-m);
    background-color: var(--color-blue-1);
  }
}
footer#logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  #logout {
    border: 0.5px solid var(--color-white-2);
    display: flex;
    justify-content: center;
    border-radius: var(--border-m);
    padding: 10px;
  }
}


