#aside-right {
  grid-area: right;
  padding: 10px;
  border-radius: var(--border-m);
  /* border: 1px solid var(--white-1); */
  box-shadow: 1px 3px 5px 0px var(--orange-1);
  
  h2#news {
    font-size: 1.8rem;
    margin-block: 5px;
    color: var(--orange-0);
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: 'Figtree Variable';
    
  }
  section#news {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: var(--gap-m);
  }

}