html {
  /* font-family: "Onest Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif; */
  letter-spacing: -0.0025rem;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
}
/* TITULOS PRINCIPAL */
h1 {
  font-family: 'palo';
  color: white;
}
/* NAVBAR LINKS */
h2 {
  font-size: 1.2rem;
}
/* TITULO DE PAGINAS y ASIDES */
h2.impact {
  font-family: 'Heading';
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  color: var(--orange-0);
}
/* TITULO DE PERFILES */
h2.profile {
  font-weight: 600;
  /* color: var(--white-0); */
}

/* TITULOS DE SECCIÓN */
h3.section-page {
  font-size: 1.4rem;
  font-weight: 600;
  padding-block: 6px;
}
/* TITULOS DE POST Y CURSOS */
h4 {
  font-size: 1.2rem;
  font-weight: 800;
}

h5 {
}

p {
  font-size: 0.95rem;
  line-height: 1.5;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--white-1);
}

button {
  border-radius: var(--border-s);
  display: flex;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  transition: border-color 0.25s;
  cursor: pointer;
  transition: border-color 0.25s;
  /* margin-inline: 5px; */
  /* border-color: var(--orange-0); */
}
button:hover {
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
hr {
  border: 0.5px solid var(--white-2);
}
