:root {
  font-family:
    'Onest Variable',
    'Figtree Variable',
    /* 'Comfortaa Variable', */ Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;

  --width: 1400px;
  --pad: 2rem;

  --border-s: 5px;
  --border-m: 8px;
  --border-l: 20px;

  --left-aside: 240px;
  --right-aside: 320px;

  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 15px;

  --pad-s: 0.8rem;
  --pad-m: 1rem;
  --pad-l: 1.2rem;

  --white-0: #f4f4f4;
  --white-1: #cbcbcb;
  --white-2: #909090;
  --white-3: #565656;

  --black-0: #050505;
  --black-1: #121212;

  --blue-0: #141e25;
  --blue-1: #141921
  ;

  --orange-0: #f6921b;
  --orange-1: #985809;
  --orange-2: #a76719;

  color-scheme: light dark;
  color: var(--white-0);
  background-color: var(--black-0);
}

* {
  /* border: 1px solid ; */
  /* padding: 10px !important */
}
.tasks {
  border: 3px solid #555454;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}
