:root {
  font-family: 
    'Onest Variable',
    'Figtree Variable',
/* 'Comfortaa Variable', */
    Inter, 
    system-ui, 
    Avenir, 
    Helvetica, 
    Arial, 
    sans-serif;

  --width: 1200px;
  --border-m: 10px;
  --left-aside: 230px;
  --right-aside: 270px;

  --gap-s: 10px;
  --gap-m: 13px;
  --gap-l: 30px;

  --color-white-0: #e8e8e8de;
  --color-white-1: #cbcbcbde;

  --color-black-0: #101010;
  --color-black-1: ;


  --color-blue-1: #1a1f22;

  --color-orange-0: #F6921B;
  --color-orange-1: #f6941bbe;

  color-scheme: light dark;
  color: var(--color-white-0);
  background-color: var(--color-black-0);
}

* {
  /* border: 1px solid ; */
  /* padding: 10px !important */
}
.tasks {
  border: 3px solid #555454;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}
