nav#nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70px;
  box-shadow: 1px 1px 5px 0px var(--orange-1);
  background-color: var(--blue-1);
  * {
    /* border: 1px solid red; */
  }
}

#nav-container {
  display: flex;
  padding-block: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  h1 {
    font-size: 28px;
    text-wrap: nowrap;
    height: 100%;
    width: var(--left-aside) !important;
  }
  h2 {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 6px;
  }
}


#nav-left {
  gap: 2rem;
  display: flex;
  color: var(--orange-0);
}
#nav-right {
  gap: 2rem;
  display: flex;
  color: var(--orange-0);

  h2{ 
    border: 1px solid var(--white-3);
    width: var(--right-aside);
    padding: var(--pad-s);
    border-radius: var(--border-s);
    display: flex;
    justify-content: center;
  }
}
