nav#nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70px;
  box-shadow: 1px 1px 5px 0px var(--orange-1);
  background-color: var(--blue-1);
}

#nav-container {
  
  display: flex;
  padding-block: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width);
  h1 {
    font-size: 28px;
    text-wrap: nowrap;
    height: 100%;
    width: var(--left-aside) !important;
  }
  h2 {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-inline: 7px;
  }
  .active-link {
    border-bottom: 2px solid var(--orange-0);
    border-radius: 5px;
    box-shadow: 0px 5px 5px -5px var(--orange-0);
  }
}
#nav-left {
  gap: 1.5rem;
  display: flex;
  color: var(--orange-0);
}
#nav-right {
  gap: 2rem;
  display: flex;
  color: var(--white-1);
  justify-content: center;
  align-self: center;
  width: var(--right-aside);
  /* border: 1px solid ; */
  h2 {
    /* border: 2px solid var(--white-3); */
    padding: 0.5rem 3rem;
    border-radius: var(--border-s);
    display: flex;
    justify-content: center;
  }
  .icons {
    width: 30px;
    height: 30px;
  }
}
