:root {
  --left-classes: 300px;
}
div#layout {
  display: grid;
  grid-template-areas:
    'left main right'
    'left main right';
  grid-template-columns: var(--left-aside) 1fr var(--right-aside);
  gap: var(--gap-l);
  height: max-content;
  justify-content: center;
  margin-inline: auto;
  max-width: var(--width);
  width: 100%;
  margin-top: 90px;
  margin-bottom: 150px;
}

aside.aside-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  h2.impact {
    text-align: center;
    padding: 15px;
  }
}

main.home {
  grid-area: main;
  display: flex;
  flex-direction: column;
  h2.impact {
    padding: 15px 5px;
  }
}

main.pro {
  grid-area: main;
  grid-column: main / span 2;
  h2.impact {
    padding: 15px 5px;
  }
  /* TITULOS DE SECCIÓN */
  h3.section-page {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
main.left {
  grid-column: left / span 2;
}

main.max {
  grid-column: left / span 3;
}

aside.aside-right {
  background-color: var(--blue-1);
  grid-area: right;
  border-radius: var(--border-m);
  border: 0.5px solid var(--white-3);
  h2.impact {
    padding: 15px;
    text-align: center;
  }
}

span.page-title {
  grid-column: aside / span 2;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 600;
}
