div#layout {
  display: grid;
  grid-template-areas:
    'left main right'
    'left main right';
  grid-template-columns: var(--left-aside) 1fr var(--right-aside);
  gap: var(--gap-l);
  height: max-content;
  justify-content: center;
  margin-inline: auto;
  max-width: var(--width);
  width: 100%;
  margin-top: 90px;
  margin-bottom: 150px;
}

aside.aside-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  /* gap: var(--gap-s); */
  height: 85vh;
  position: relative;
  h2.impact {
    text-align: center;
    padding: 15px;
    /* border: 1px solid var(--white-3); */
  }
}

main.home {
  grid-area: main;
  display: flex;
  flex-direction: column;
  h2.impact {
    padding: 15px 5px;
  }
}

main.pro {
  grid-area: main;
  grid-column: main / span 2;
  h2.impact {
    padding: 15px 5px;
  }
  /* TITULOS DE SECCIÓN */
  h3.section-page {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
main.pro.left {
  grid-column: left / span 2;
}



aside.aside-right {
  grid-area: right;
  border-radius: var(--border-m);
  box-shadow: 1px 3px 5px 0px var(--orange-1);
  h2.impact {
    padding: 15px;
    text-align: center;
  }
  
  section#news {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: var(--gap-m);
    padding: 5px 15px;
  }
}
