:root {
  --calendly: #016dff;
}
main#profile {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: var(--gap-l);
  height: max-content;
}
div#blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  article.add-pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff;
    color: var(--black-0);
    border-radius: var(--border-m);
    padding: 3rem 2rem;
    height: max-content;
    width: 45rem;
    position: relative;
    button#close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      svg#close {
        width: 30px;
        height: 30px;
        stroke: var(--calendly);
      }
    }
    header {
      h3 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--black-1);
        color: var(--calendly);
      }
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
      }
    }
    button#calendly-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--calendly);
      box-shadow: 3px 2px 5px 0 var(--calendly);
      background-color: var;
      color: #28282a;
      gap: 0.5rem;
      span {
        color: var(--calendly);
        font-size: 1.5rem;
        font-family: Gilroy;
      }
    }
  }
}

header.profile-page {
  overflow: hidden;
  border-radius: var(--border-m);
  position: relative;
  height: max-content;
  padding-inline: 3rem;
  padding-block: 70px 20px;
  background-color: var(--blue-1);
  border: 1px solid var(--white-3);
  display: grid;
  grid-template-areas:
    'avatar empty'
    'left-info right-info'
    'left-info right-info'
    'score score'
    'projects projects';
  grid-template-columns: 1fr auto;
  img#cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  img.avatar {
    grid-area: avatar;
    z-index: 5;
    position: relative;
    width: 150px;
    height: 150px;
    margin-block: 1rem;
  }
  div#left-info {
    grid-area: left-info;
    display: flex;
    flex-direction: column;
    svg.icons {
      width: 25px;
      height: 25px;
    }
    div#rrss {
      display: flex;
      margin-top: auto;
      gap: 1rem;
      .icons {
        width: 25px;
        height: 25px;
        fill: var(--black-1);
      }
      #x {
        width: 25px;
        height: 25px;
        stroke: var(--black-1);
      }
      a {
        display: flex;
        align-items: center;
        padding: 0.35rem;
        border-radius: var(--border-m);
        width: max-content;
        height: max-content;
        background-color: var(--white-0);
        color: var(--black-1);
      }
      a#portfolio {
        padding: 0.4rem 0.9rem;
        font-weight: 500;
      }
    }
  }
  div#score {
    grid-area: score;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    hr {
      order: 1;
    }
    div {
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }
    span {
      font-weight: 700;
      color: var(--orange-0);
      height: 100%;
    }
  }
  div#right-info {
    grid-area: right-info;
    display: grid;
    grid-template-areas:
      'cv add'
      'video video';
    grid-template-rows: auto 1fr;
    gap: 1rem;
    align-items: flex-start;
    button#add {
      grid-area: add;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--calendly);
      border: 0.5px solid var(--calendly);
      box-shadow: 2px 2px 1px 0px var(--calendly);
      svg.icons {
        width: 25px;
        color: var(--calendly);
        height: 25px;
      }
    }
    button:hover {
      border: 0.5px solid var(--white-3);
      box-shadow: 2px 2px 1px 0px var(--white-2);
      transition: all 0.3s ease-in-out;
    }
    a,
    button {
      padding: 0.4rem 0.9rem;
      border-radius: var(--border-m);
      width: max-content;
      height: max-content;
    }
    a#cv {
      grid-area: cv;
      display: flex;
      width: max-content;
      background-color: var(--white-0);
      color: var(--black-1);
    }
    a#video {
      grid-area: video;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border: 2px solid var(--black-1);
      box-shadow: 2px 4px 2px 0px black;
      .icons {
        width: 70px;
        height: 70px;
      }
    }
  }

  hr {
    border: 1px solid var(--white-3);
    width: 100%;
  }
  h1 {
    font-size: 1.9rem;
    font-weight: 600;
    height: 40px;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  p,
  span {
    font-size: 1.1rem;
  }
  div#projects {
    grid-area: projects;
  }
  .mini-section {
    margin-block: 1rem;
  }
}

section.profile-page {
  background-color: var(--blue-1);
  border-radius: var(--border-m);
  border: 1px solid var(--white-3);
  padding-inline: 3rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

section.profile-page#wins {
}
section.profile-page#posts {
}

div#container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  margin-block: 1rem;
  a.cards {
    padding: 1rem;
    border-radius: var(--border-m);
  }
  a.business {
    border: 0.5px solid #714805;
    box-shadow: 2px 1px 2px 0px var(--orange-0);
  }
  a.projects {
    border: 0.5px solid var(--black-0);
    box-shadow: 3px 2px 4px 0px var(--black-0);
  }
}
h3.section {
  color: var(--white-2);
}
