aside#members {
  span.pts {
    color: var(--white-2);
  }
}
main#members {
  display: flex;
  flex-direction: column;
}
section#members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1em;
  margin-block: var(--gap-l);
}

article.member-cards {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-1);
  border-radius: var(--border-m);
  padding: var(--pad-m);
  border: 0.5px solid var(--white-3);
  gap: var(--gap-s);
  header.member-cards {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    img.avatar {
      width: 60px;
      height: 60px;
    }
    .user {
      div {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
        margin-bottom: 5px;
        /* color: var(--white-2); */
        h2.profile {
          font-size: 1.3rem;
        }
      }
      span {
        color: var(--white-2);
      }
    }
  }

  section.member-cards {
    display: flex;
    padding: 0.7rem 0.5rem;
    p {
      display: flex;
      align-items: center;
      gap: var(--gap-s);
      text-wrap: wrap;
      padding-right: 0.2rem;
      svg.icons {
        align-self: flex-start;
      }
    }
    div.left,
    div.right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--gap-s);
    }
  }
  footer.member-cards {
    margin-top: auto;
    padding: 0.3rem 0.5rem;
  }
  svg.icons {
    width: 22px;
    height: 22px;
  }
  svg.business-icon {
    color: var(--orange-0);
  }
}
