article.level-cards {
  padding: var(--pad-m);
  header.level-cards {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-m);
    h5 {
      font-weight: 700;
      color: var(--orange-0);
    }
    span {
      color: var(--white-2);
      width: 200px;
      height: 10%;
      font-size: 1.1rem;
    }
  }
  section.level-cards {
    display: flex;
    h6 {
      font-size: 0.95rem;
    }
    span {
      font-size: 0.95rem;
      color: var(--white-1);
    }
  }
}

main#levels-page {
  section#levels-container {
    display: flex;
    gap: var(--gap-l);
    flex-direction: column;
  }
}
