main#bails-page {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    figure.video-container {
      width: 80%;
    }
  }

}