hr.home {
  border: 0.9px solid var(--white-3);
  margin-top: 10px;
}
main#timeline {
  gap: var(--gap-s);
}
section.timeline {
  header.timeline {
    display: flex;
    justify-content: space-between;
    button {
      padding: var(--pad-s) 35px;
      /* border: 0.6px solid var(--white-3) ; */
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  hr.timeline {
    height: 100%;
  }
}

aside#news {
  h2 {
    color: var(--orange-0) !important;
  }
}
