main#community {
  margin-right: 1rem;
}
article.community {
  display: flex;
  flex-direction: column;
}
article.community#levels {
  gap: 2rem;
  header.community {
    padding: var(--pad-s) 0;
    border-radius: var(--border-m);
    margin-top: 1rem;
    h4 {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
  section.community {
    display: flex;
    gap: var(--gap-l);
    flex-direction: column;
    border-radius: var(--border-m);
  }
}

article.cards-levels {
  border: 0.5px solid var(--white-3);
  box-shadow: 1px 2px 4px 0 var(--white-3);
  border-radius: var(--border-s);
  padding: var(--pad-m);
  background-color: var(--blue-1);
  header.cards-levels {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-m);
    h5 {
      font-weight: 700;
      color: var(--orange-0);
    }
    span {
      color: var(--white-2);
      width: 200px;
      height: 10%;
      font-size: 1.1rem;
    }
  }
  section.cards-levels {
    display: flex;
    h6 {
      font-size: 0.95rem;
    }
    span {
      font-size: 0.95rem;
      color: var(--white-1);
    }
  }
}

aside#community {
  button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 55px;
    svg.icons {
      width: 40px;
      height: 40px;
    }
  }
}

article.community#introduction-page {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem 0.5rem;
    margin-block: 1rem;
    #video{
      background-color: var(--blue-1);
      padding: 1rem;;
      border: 5px solid ;
    }
    h1 {
      color: var(--white-0);
      font-size: 3rem;
      font-weight: 700;
    }
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      h3 {
        color: var(--white-0);
      }
      svg.icons {
        width: 40px;
        height: 40px;
        color: var(--white-0);
      }
    }
  }
  section {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    padding: 1rem;
    div {
      max-width: 600px;
      p {
        font-size: 1rem;
        text-wrap: pretty;
        text-align: center;
      }
    }
  }
}
