#home-content {
  display: grid;
  grid-template-areas:
    "left main right"
    "left main right";
  grid-template-columns: var(--left-aside) 1fr var(--right-aside);
  gap: var(--gap-l);
  height: max-content;
  justify-content: center;
  margin-inline: auto;
  max-width: var(--width);
  width: 100%;
  margin-top: 100px;
  margin-bottom: 150px;
  /* border: 1px solid; */
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  #new-post {
    background-color: var(--color-blue-1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
  }
}





