main#calendar-page {
  .calendar {
    padding: 2rem;
    width: 100%;
    height: 500px;
  }
}

div.reunion-grupal {
  /* background-color: red; */
}

.rbc-calendar {
  color: var(--white-1);
  /* border: 3px solid red; */
  text-transform: uppercase;
}
.rbc-month-view {
  background-color: var(--black-1);
  border-radius: var(--border-s);
  border: 0.5px solid var(--white-2);
}
/* Dias fuera de mes */
.rbc-off-range-bg {
  background-color: var(--blue-1);
  border: 0.5px solid var(--white-3);
  color: red !important;
}
/*  Todas las celdas */
.rbc-date-cell {
  padding: 0px 5px;
}

/* HOY */
/* Cabecera */
.rbc-current {
  /* border-bottom: 3px solid var(--black-1); */
  color: var(--orange-0);
  font-weight: 800 !important;
}
/* Contenedor */
.rbc-today {
  /* background-color: transparent; */
  background-color: var(--blue-1);
  overflow: hidden;
  /* border: 5px solid red; */
}

.rbc-day-bg {
  border: 1px solid red;
}

/* LINEAS */
.rbc-month-row {
  border: 0.5px solid var(--white-3) !important;
}
.rbc-day-bg {
  border: 0.5px solid var(--white-3) !important;
}
.rbc-header {
  border: 0.5px solid var(--white-3) !important;
}

.rbc-btn-group {
  button {
    border: 0.5px solid var(--white-3) !important;
    color: var(--white-0);
  }
}
.rbc-off-range-bg {
  /* border: 1px solid green; */
}

/* cabecera de todos los dias  */
.rbc-row-content,
.rbc-row {
  /* color: blue; */
  /* border: 1px solid green; */
}
.rbc-month-header {
  /* border: 1px solid green; */
}
