aside#members {
  * {
    /* border: 1px solid; */
  }
  /* overflow: hidden; */
  div#filter {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    justify-content: center;
  }
  

    .react-select {
    }
    .react-select-container {
      width: 100%;
    }
    /* conjunto de todo  */
    .react-select__control {
      border: transparent;
      background-color: var(--blue-1);  
    text-align: center;
  }

  /* contenedor de los valores */
  .react-select__value-container {

  }
  /* flecha */
  .react-select__indicators {
  }
  .react-select__menu {

    background-color: var(--white-3);
  }
  .react-select__menu-list {

    background-color: var(--blue-0);
  }
  .react-select__option:hover {
    background-color: var(--blue-1);
  }

}
main#members {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);

  hr {
    margin-block: 5px;
  }
}

div#members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
}

article.member {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-1);
  border-radius: var(--border-m);
  padding: var(--pad-m);
  border: 0.5px solid var(--white-3);
  gap: var(--gap-s);
  header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: var(--blue-0);
    }
    img.entrepeneur {
      border: 4px solid var(--orange-0);
    }
    .user {
      div {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
        margin-bottom: 5px;
        /* color: var(--white-2); */
      }
      span {
        color: var(--white-2);
      }
    }
  }
  * {
    /* border: 1px solid ; */
  }
  section {
    display: flex;

    padding: 10px 0 0 0;
    display: flex;
    align-items: flex-start;
    div#left {
      width: 50%;
    }
    p {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      gap: var(--gap-s);
    }
    div#business {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    p {
      margin-block: 5px;
    }
  }
}

.profile-icons {
  width: 22px;
  height: 22px;
}
.business-icon {
  color: var(--orange-0);
}
