main#messages {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);

  div#groups-links {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      width: 100%;
      background-color: var(--blue-1);
      border-radius: var(--border-m);
      color: var(--white-0);
    }
    svg.icons {
      width: 30px;
      height: 30px;
    }
    svg#whatsapp {
      fill: white;
    }
    svg#telegram {
      fill: #0088cc;
      background-color: white;
      border-radius: 50%;
    }
  }
}
