aside.community {
  border: 0.5px solid var(--white-3);
  height: max-content;
  background-color: var(--blue-1);
  border-radius: var(--border-m);
  display: flex;
  flex-direction: column;
  a {
    text-transform: uppercase;
    text-align: center;
  }
}
main#classroom {
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-block: var(--gap-l);
    h4 {
      padding: 5px 5px;
    }
  }

  #cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-l);
  }
  div.classroom-card {
    border: 0.5px solid var(--white-3);
    border-radius: var(--border-m);
    overflow: hidden;
    background-color: var(--blue-1);
    h4 {
      text-wrap: nowrap;
    }
    h4,
    p {
      padding: var(--pad-s);
    }
  }
}
