:root {
  --height-text-wellcome: 3rem;
  --red-0: #961616;
  transition: all 0.5s ease-in-out;
}
div#wellcome-body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 98vh;
  padding-inline: 7%;
}
header.wellcome {
  height: 100%;
  width: 50%;
  flex-direction: column;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 3.5rem;
    text-shadow: 1px 3px 10px #9d9d9d;
    line-height: 1;
    height: var(--height-text-wellcome);
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  svg.icons {
    width: 80px;
    height: 110px;
    color: var(--white-0);
  }
}
section.wellcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 50%;
  height: 100%;
}
/* LOGIN  */
div.login {
  h3 {
    font-size: 1.5rem;
    height: var(--height-text-wellcome);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    width: 100%;
    padding: var(--pad-m);
    /* background-color: red; */
  }
  div.errors {
    padding: var(--pad-s) var(--pad-s);
    background-color: var(--red-0);
    border-radius: var(--border-s);
    margin: var(--pad-s) var(--pad-m);
  }
  form.login {
    display: flex;
    flex-direction: column;
    /* background-color: var(--blue-1); */
    padding: var(--pad-m);
    width: 300px;
    max-width: 500px;
    height: max-content;
    border-radius: var(--border-m);
    c input {
      padding: var(--pad-s);
    }
  }
  p.register {
    display: flex;
    justify-content: center;
    padding: var(--pad-s);
  }
  p.errors {
    padding-inline: var(--pad-s);
    background-color: var(--red-0);
    border-radius: var(--border-s);
    height: 23px;
  }
  #join-link {
    text-decoration: underline;
  }
}

@keyframes error-fade-p {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 23px;
  }
}
p.errors {
  animation: error-fade-p 0.5s ease-out;
}

@keyframes error-fade-div {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 40px;
  }
}
div.errors {
  animation: error-fade-div 0.5s ease-in-out;
}
