aside#members {
  border: 1px solid red;
}

main#members {
  /* border: 1px solid green; */
}
div#members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
}
article.member {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-1);
  border-radius: var(--border-m);
  padding: var(--pad-m);
  border: 0.5px solid var(--white-3);
  gap: var(--gap-s);
  header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }
    .user {
      div {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
        margin-bottom: 5px;
        /* color: var(--white-2); */
      }
      span {
        color: var(--white-2);
      }
    }
  }
  * {
    /* border: 1px solid ; */
  }
  section {
    display: flex;

    padding: 10px 0 0 0;
    display: flex;
    align-items: flex-start;
    div#left {
      width: 50%;
    }
    p {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      gap: var(--gap-s);
    }
    div#business {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    p {
      margin: 3px;
    }
  }
}

.profile-icons {
  width: 22px;
  height: 22px;
}
.business-icon {
  color: var(--orange-0);
}
