main#rules-page {
  
  /* header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    hr {
      width: 100%;
    }
  } */
  
}
section#rules-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article.wide-items {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1.2rem;
  span {
    font-weight: bold;
    color: var(--orange-0);
  }
  h5 {
    font-weight: 600;
  }
}