div.category-bonus {
  padding: 0 0 1.5rem;
  div.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    h3 {
      text-transform: uppercase;
      padding: 0 1rem 0.1rem 0.5rem;
    }
  }
}