:root {
  --calendly: #016dff;
}
div#profile-page {
  grid-area: left / span 3;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
main#main-profile {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header.main-profile {
  padding: 0.5rem;
  overflow: hidden;
  border-radius: var(--border-m);
  position: relative;
  height: max-content;
  padding-inline: 2.5rem;
  padding-block: 70px 30px;
  display: grid;
  grid-template-areas:
    'avatar empty'
    'left-info right-info'
    'score score';
  grid-template-columns: 1fr auto;
  img#cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  figure.avatar-container {
    grid-area: avatar;
    z-index: 5;
    position: relative;
    width: 150px;
    height: 150px;
    margin-block: 1rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div#left-info {
    grid-area: left-info;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    svg.icons {
      width: 25px;
      height: 25px;
    }
    div#rrss {
      display: flex;
      margin-top: auto;
      gap: 1rem;
      .icons {
        width: 25px;
        height: 25px;
        fill: var(--black-1);
      }
      #x {
        width: 25px;
        height: 25px;
        stroke: var(--black-1);
      }
      a {
        display: flex;
        align-items: center;
        padding: 0.25rem;
        border-radius: var(--border-s);
        width: max-content;
        height: max-content;
        background-color: var(--white-0);
        color: var(--black-1);
      }
      a#cv {
        padding: 0.3rem 0.6rem;
      }
      a#portfolio {
        padding: 0.4rem 0.9rem;
        font-weight: 500;
      }
    }
  }
  div#score {
    grid-area: score;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 0.7rem;
    padding-top: 1.5rem;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }
    span {
      font-weight: 700;
      color: var(--orange-0);
      height: 100%;
    }
  }
  div#right-info {
    grid-area: right-info;
    display: flex;
    /* flex-direction: column; */
    gap: 0rem;
    button#add {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--calendly);
      border: 1px solid var(--calendly);
      box-shadow: 1px 1px 2px 0px var(--calendly);
      background-color: var(--white-0);
      svg.icons {
        width: 25px;
        color: var(--calendly);
        height: 25px;
      }
    }
    #points-add {
      text-align: center;
      padding: 0.4rem 0.5rem;
      font-weight: 600;
      color: var(--calendly);
    }

    button:hover {
      border: 0.5px solid var(--white-3);
      box-shadow: 2px 2px 1px 0px var(--white-2);
      transition: all 0.3s ease-in-out;
    }
    a,
    button {
      padding: 0.25rem 0.7rem;
      border-radius: var(--border-m);
      width: max-content;
      height: max-content;
    }
    a#cv {
      grid-area: cv;
      display: flex;
      width: max-content;
      background-color: var(--white-0);
      color: var(--black-1);
    }
  }
  hr {
    border: 1px solid var(--white-3);
    width: 100%;
  }
  h1 {
    font-size: 1.9rem;
    font-weight: 600;
    height: 40px;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p,
  span {
    font-size: 1.1rem;
  }
  div#projects {
    grid-area: projects;
  }
}

section.profile-page {
  border-radius: var(--border-m);
  border: 1px solid var(--white-3);
  padding-inline: 2.5rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

div#container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  margin-block: 1rem;
  a.cards {
    padding: 1rem;
    border-radius: var(--border-m);
  }
  a.business {
    border: 0.5px solid #714805;
    box-shadow: 2px 1px 2px 0px var(--orange-0);
  }
  a.projects {
    border: 0.5px solid var(--black-0);
    box-shadow: 3px 2px 4px 0px var(--black-0);
  }
}
h3.section {
  color: var(--white-2);
}

aside.profile-page#right {
  
  
}
